.form {
    width: 50%;
    background-color: white;
}

.inputPick {
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 1.1em;
    /* width: max-content; */
}

.itemCenter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn:not(:hover),
.btn {
    background-color: darkorange;
    border: darkorange;
}

.btn:hover {
    background-color: rgb(241, 155, 25);
}

.btn:focus,
.btn:active {
    color: white;
}
.btnDisabled,
.btnDisabled:hover {
    background-color: rgba(110, 79, 17, 0.25);
    border: rgba(110, 79, 17, 0.25);
    cursor: not-allowed;
}
