/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); */
/* body { margin: 30px; } */
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
}

.sInput {
    width: 250px;
    height: 32px;

    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.sInput {
    text-indent: 32px;
}
.spanImg {
    position: absolute;
    top: 10px;
    left: 10px;
}
