.form {
    width: 35%;
    background-color: white;
    border-radius: 16px;
}

.inputPick {
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: 1.1em;
    border-radius: 6px;
}

.itemCenter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.h1 {
    color: #002766;
    font-size: 2em;
    font-weight: 700;
}

.btn:not(:hover),
.btn {
    background-color: darkorange;
    border: darkorange;
    margin-left: 65%;
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(241, 155, 25);
}

.btn:focus,
.btn:active {
    color: white;
}
.btnDisabled,
.btnDisabled:hover {
    background-color: rgba(110, 79, 17, 0.25);
    border: rgba(110, 79, 17, 0.25);
    cursor: not-allowed;
}
